@use "./utils.module.scss" as *;

h1 {
    font-size: 40px;
    margin-bottom: 56px;
    @media (min-width: 768px) {
        font-size: 75px;
        margin-bottom: 56px;
    }
}

h2 {
    font-size: 34px;
    margin-bottom: 15px;
    @media (min-width: 768px) {
        font-size: 62px;
    }
}

.subtitle {
    font-size: 18px;
    margin-bottom: 14px;
    @media (min-width: 768px) {
        font-size: 32px;
    }
    &Quip {
        font-size: 14px;
        margin-bottom: 56px;
    }
}

.profileRow {
    display: flex;
    gap: 55px;
    margin: 0 auto;
    width: fit-content;
    a {
        color: #fff;
        text-decoration: none;
        @include transition(scale);
        &:hover {
            color: pink;
            scale: 1.1;
        }
    }
}

h1,
h2,
.subtitle,
.subtitleQuip {
    padding: 0 15px;
    text-align: center;
}

.firstSection {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px;
    width: 100%;
    min-height: 415px;
    border: 1px solid #444444;
    padding: 20px;

    @include transition(scale, border-color);
    &:not(:last-child) {
        margin-bottom: 20px;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    &:hover {
        scale: 1.06;
        border-color: #666666;
    }
    p {
        margin-bottom: 0;
    }
    img {
        width: 100%;
    }
    &Content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        height: 100%;
    }
    &Description {
        font-size: 14px;
        height: 95px;
        width: 100%;
        overflow-y: scroll;
    }
    &Title {
        font-size: 28px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        &Wrapper {
            position: relative;
        }
        &Tooltip {
            font-size: 16px;
            position: absolute;
            visibility: hidden;
            left: 50%;
            translate: -50% 0;
            width: max-content;
            opacity: 0;
            padding: 4px;
            max-width: 80%;
            color: white;
            outline: 1px solid #666666;
            background: #131421;
            bottom: 130%;
            text-align: center;
            scale: 0.8;

            @include transition(opacity, scale);
        }
        &:hover + &Tooltip {
            opacity: 1;
            scale: 1;
            visibility: visible;
        }
    }
    &Src {
        font-size: 14px;
        a {
            color: #b4b4b4;
            text-decoration: none;
        }
    }
    &Button {
        &Row {
            --color: #fff;
            display: flex;
            gap: 20px;
            a {
                height: 28px;
                width: 100%;
                display: grid;
                place-items: center;
                text-decoration: none;
                font-size: 14px;
                @include transition(scale);
                &:hover {
                    scale: 1.1;
                    --color: pink;
                }
            }
        }
        &Live {
            background: var(--color);
            color: #000;
        }
        &Code {
            color: #fff;
            border: 1px solid var(--color);
        }
    }
}

footer {
    height: calc(99vh - 10px);
    margin-top: 150px;
    position: relative;
    svg {
        width: 100%;
        place-self: center;
    }
    &::before {
        content: "";
        height: 10px;
        width: 100%;
        position: absolute;
        background: linear-gradient(
            90deg,
            #5bcdf9 0%,
            #5bcdf9 20%,
            #f4a8b7 20%,
            #f4a8b7 40%,
            #fefefe 40%,
            #fefefe 60%,
            #f4a8b7 60%,
            #f4a8b7 80%,
            #5bcdf9 80%,
            #5bcdf9 100%
        );
        top: -10px;
        z-index: -1;
        left: 0;
    }
}

.footerContent {
    height: 100%;
    &Links {
        overflow-x: clip;
        margin-top: 115px;
        display: flex;
        flex-direction: column;
        gap: 28px;
        a {
            transform-origin: left;
            font-size: 42px;
            text-decoration: none;
            color: white;

            @include transition(scale);
            &:hover {
                scale: 1.1;
            }
        }
    }
}
