* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transform-origin: center;

    &:focus-within {
        outline: none;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;

    background: #131421;
    color: #FFFFFF;

    font-family: sans;
}
