@use "sass:list";

$breakpoints:
    1px 768px "S" 1,
    769px 1024px "M" 6,
    1025px 1439px "L" 12,
    1440px 9999px "XL" 12;

@each $min, $max, $name in $breakpoints {
    @media screen and (min-width: $min) {
        @for $i from 1 through 12 {
            .span#{$i}#{$name} {
                grid-column: 1 / span #{$i};
            }
        }

        @for $i from 1 through 12 {
            .gridStart#{$i}#{$name} {
                grid-column-start: #{$i};
            }
        }

        @for $i from 1 through 12 {
            .absoluteSpan#{$i}#{$name} {
                grid-column: span #{$i};
            }
        }

        .flexRow#{$name} {
            display: flex;
            flex-direction: row;
        }

        .flexColumn#{$name} {
            display: flex;
            flex-direction: column;
        }
        .grid#{$name} {
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;

            @each $min, $max, $name, $cols in $breakpoints {
                @media screen and (min-width: $min) {
                    display: grid;
                    grid-template-columns: repeat(#{$cols}, 1fr);
                    gap: 20px;
                }
            }
        }
    }
    .grid#{$name} {
        padding: 0 15px;
    }
}

.grid {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    @each $min, $max, $name, $cols in $breakpoints {
        @media screen and (min-width: $min) {
            display: grid;
            grid-template-columns: repeat(#{$cols}, 1fr);
            gap: 20px;
            padding: 0 15px;
        }
    }
}

.spanRow {
    @each $min, $max, $name, $cols in $breakpoints {
        @media screen and (min-width: $min) {
            grid-column: span $cols;
        }
    }
}

.subgrid {
    display: grid;
    grid-template-columns: subgrid;
}

@mixin transition($variables...) {
    transition-property: $variables;
    transition-duration: 180ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
