# i know these overlap a bunch, i do not really care
node_modules/

# gallery ignores
# Logs
gallery/logs
gallery/*.log
gallery/npm-debug.log*
gallery/yarn-debug.log*
gallery/yarn-error.log*
gallery/pnpm-debug.log*
gallery/lerna-debug.log*

gallery/node_modules
gallery/dist
gallery/dist-ssr
gallery/*.local

# Editor directories and files
gallery/.vscode/*
gallery/!.vscode/extensions.json
gallery/.idea
gallery/.DS_Store
gallery/*.suo
gallery/*.ntvs*
gallery/*.njsproj
gallery/*.sln
gallery/*.sw?
gallery/.git

#Browser-extension-manager-UI ignores
# Logs
Browser-extension-manager-UI/logs
Browser-extension-manager-UI/*.log
Browser-extension-manager-UI/npm-debug.log*
Browser-extension-manager-UI/yarn-debug.log*
Browser-extension-manager-UI/yarn-error.log*
Browser-extension-manager-UI/pnpm-debug.log*
Browser-extension-manager-UI/lerna-debug.log*

Browser-extension-manager-UI/node_modules
Browser-extension-manager-UI/dist
Browser-extension-manager-UI/dist-ssr
Browser-extension-manager-UI/*.local

# Editor directories and files
Browser-extension-manager-UI/.vscode/*
Browser-extension-manager-UI/!.vscode/extensions.json
Browser-extension-manager-UI/.idea
Browser-extension-manager-UI/.DS_Store
Browser-extension-manager-UI/*.suo
Browser-extension-manager-UI/*.ntvs*
Browser-extension-manager-UI/*.njsproj
Browser-extension-manager-UI/*.sln
Browser-extension-manager-UI/*.sw?


#Designo-website ignores
# Logs
Designo-website/logs
Designo-website/*.log
Designo-website/npm-debug.log*
Designo-website/yarn-debug.log*
Designo-website/yarn-error.log*
Designo-website/pnpm-debug.log*
Designo-website/lerna-debug.log*

Designo-website/node_modules
Designo-website/dist
Designo-website/dist-ssr
Designo-website/*.local

# Editor directories and files
Designo-website/.vscode/*
Designo-website/!.vscode/extensions.json
Designo-website/.idea
Designo-website/.DS_Store
Designo-website/*.suo
Designo-website/*.ntvs*
Designo-website/*.njsproj
Designo-website/*.sln
Designo-website/*.sw?

# Character-counter ignores
# Logs
Character-counter/logs
Character-counter/*.log
Character-counter/npm-debug.log*
Character-counter/yarn-debug.log*
Character-counter/yarn-error.log*
Character-counter/pnpm-debug.log*
Character-counter/lerna-debug.log*

Character-counter/node_modules
Character-counter/dist
Character-counter/dist-ssr
Character-counter/*.local

# Editor directories and files
Character-counter/.vscode/*
Character-counter/!.vscode/extensions.json
Character-counter/.idea
Character-counter/.DS_Store
Character-counter/*.suo
Character-counter/*.ntvs*
Character-counter/*.njsproj
Character-counter/*.sln
Character-counter/*.sw?
