# gallery ignores
# Logs
gallery/logs
gallery/*.log
gallery/npm-debug.log*
gallery/yarn-debug.log*
gallery/yarn-error.log*
gallery/pnpm-debug.log*
gallery/lerna-debug.log*

gallery/node_modules
gallery/dist
gallery/dist-ssr
gallery/*.local

# Editor directories and files
gallery/.vscode/*
gallery/!.vscode/extensions.json
gallery/.idea
gallery/.DS_Store
gallery/*.suo
gallery/*.ntvs*
gallery/*.njsproj
gallery/*.sln
gallery/*.sw?
gallery/.git

#Browser-extension-manager-UI ignores
# Logs
Browser-extension-manager-UI/logs
Browser-extension-manager-UI/*.log
Browser-extension-manager-UI/npm-debug.log*
Browser-extension-manager-UI/yarn-debug.log*
Browser-extension-manager-UI/yarn-error.log*
Browser-extension-manager-UI/pnpm-debug.log*
Browser-extension-manager-UI/lerna-debug.log*

Browser-extension-manager-UI/node_modules
Browser-extension-manager-UI/dist
Browser-extension-manager-UI/dist-ssr
Browser-extension-manager-UI/*.local

# Editor directories and files
Browser-extension-manager-UI/.vscode/*
Browser-extension-manager-UI/!.vscode/extensions.json
Browser-extension-manager-UI/.idea
Browser-extension-manager-UI/.DS_Store
Browser-extension-manager-UI/*.suo
Browser-extension-manager-UI/*.ntvs*
Browser-extension-manager-UI/*.njsproj
Browser-extension-manager-UI/*.sln
Browser-extension-manager-UI/*.sw?
