# gallery ignores
# Logs
gallery/logs
gallery/*.log
gallery/npm-debug.log*
gallery/yarn-debug.log*
gallery/yarn-error.log*
gallery/pnpm-debug.log*
gallery/lerna-debug.log*

gallery/node_modules
gallery/dist
gallery/dist-ssr
gallery/*.local

# Editor directories and files
gallery/.vscode/*
gallery/!.vscode/extensions.json
gallery/.idea
gallery/.DS_Store
gallery/*.suo
gallery/*.ntvs*
gallery/*.njsproj
gallery/*.sln
gallery/*.sw?
gallery/.git
