body {
  font-family: "Inter", sans-serif;
  padding: 5rem 0 8rem 0;
}

nav .container-fluid {
  padding: 0;
}
nav .nav-link:hover {
  color: hsl(5, 85%, 63%);
}

@media screen and (min-width: 1024px) {
  header {
    margin: 0 auto 3rem auto;
    width: min(1140px, 78%);
  }
  .nav-link {
    padding-right: 0 !important;
    margin-left: 2.3rem;
    color: hsl(236, 13%, 42%);
  }
  .navbar-nav {
    justify-content: flex-end;
  }
  .list-section-item {
    margin-top: 30px;
  }
  main {
    width: min(1140px, 78%);
    grid-template-columns: auto auto auto;
    grid-template-areas: "picture picture new-section" "main-title main-text new-section" "e f g";
  }
  .main-article img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    margin: 3rem auto;
    width: 88%;
  }
  .nav-link {
    padding-right: 0 !important;
    margin-left: 2.3rem;
    color: hsl(236, 13%, 42%);
  }
  .navbar-expand-md .offcanvas {
    flex-direction: row-reverse;
  }
  main {
    width: 88%;
    grid-template-columns: auto auto;
    grid-template-areas: "picture picture" "main-title main-text" "new-section d" "new-section e" "new-section f";
  }
  .list-section-item:nth-of-type(1) {
    align-self: flex-start;
  }
  .list-section-item:nth-of-type(2) {
    align-self: center;
  }
  .list-section-item:nth-of-type(3) {
    align-self: flex-end;
  }
}
@media (max-width: 768px) {
  header {
    margin: 2rem auto;
    width: 90%;
  }
  main {
    width: 90%;
    grid-template-columns: auto;
    grid-template-rows: repeat(7, max-content);
    grid-template-areas: "picture" "main-title" "main-text" "new-section" "d" "e" "f";
  }
  .navbar-toggler {
    border: 0 !important;
    padding: 0 !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar-expand-md .offcanvas {
    flex-direction: column;
    padding: 1rem;
  }
  .navbar-nav {
    margin-top: 5rem;
  }
  .nav-link {
    margin-left: 0 !important;
    margin-top: 1rem;
    font: bold;
    color: black;
  }
  .offcanvas.offcanvas-end {
    max-width: 300px;
    width: 70%;
  }
  .btn-close {
    background: url(../assets/images/icon-menu-close.svg) no-repeat center;
    height: 40px !important;
    width: 40px !important;
    align-self: flex-end;
  }
  .main-article p {
    margin-bottom: 2rem;
  }
  div.main-article a {
    position: relative !important;
    margin-top: 2rem;
  }
  .new-section {
    margin: 3rem 0;
  }
  .list-section-item h2 {
    font-style: 18px;
  }
}
main {
  margin: auto;
  display: grid;
  gap: 30px;
}

p {
  font-style: 15px;
}

a {
  text-decoration: none;
  transition: none ease-in-out;
}
a * {
  transition: none ease-in-out;
}

picture.main-article {
  grid-area: picture;
  align-self: flex-start;
  overflow: hidden;
}

h1.main-article {
  grid-area: main-title;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 3.5rem;
}

div.main-article {
  grid-area: main-text;
  position: relative;
}
div.main-article a {
  background: hsl(5, 85%, 63%);
  color: white;
  text-transform: uppercase;
  padding: 1rem 2rem;
  position: absolute;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  bottom: 0;
}
div.main-article a:hover {
  background: hsl(240, 100%, 5%);
}

.new-section {
  display: grid;
  padding: 1rem 2rem;
  grid-area: new-section;
  background: hsl(240, 100%, 5%);
}
.new-section > div {
  display: flex;
  flex-direction: column;
}
.new-section h2 {
  flex-grow: 0.5;
  color: hsl(35, 77%, 62%);
  font-weight: 800;
  font-size: 2.5rem;
}
.new-section h2:hover {
  opacity: 85%;
}
.new-section h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}
.new-section p {
  margin-bottom: 0;
}
.new-section a {
  color: white;
}
.new-section a:hover h3 {
  color: hsl(35, 77%, 62%);
}
.new-section .new-article {
  flex-grow: 1;
  padding-bottom: 1.5rem;
  border-bottom: hsl(233, 8%, 79%) 1px solid;
}
.new-section .new-article:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.list-section-item {
  min-height: 130px;
  display: flex;
  flex-direction: row;
}
.list-section-item img {
  height: 100%;
  width: 103px;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-section-item h3 {
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-bottom: 1.1rem;
}
.list-section-item p {
  color: hsl(233, 8%, 79%);
  margin-bottom: 0;
}
.list-section-item .card-right {
  padding-left: 1.5rem;
}
.list-section-item .card-top {
  font-size: 2.3rem;
  line-height: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: hsl(233, 8%, 79%);
}
.list-section-item:hover h3 {
  color: hsl(5, 85%, 63%);
}

footer {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
footer a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */