@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
body {
  background: hsl(27, 66%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#expenses-component {
  font-family: "DM Sans", sans-serif;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: clamp(240px, 100vw, 606px);
  padding: 0 1rem;
}
#expenses-component p {
  margin-bottom: 0;
}
#expenses-component .money {
  font-weight: 700;
  font-size: 2rem;
}
#expenses-component .top-box,
#expenses-component .bottom-box {
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}
@media screen and (max-width: 610px) {
  #expenses-component .top-box,
  #expenses-component .bottom-box {
    padding-right: 2ch;
    padding-left: 2ch;
  }
}
#expenses-component .top-box {
  background: hsl(10, 79%, 65%);
  color: white;
  display: flex;
  justify-content: space-between;
}
#expenses-component .top-box h1 {
  font-size: 14px;
  margin: 0.3rem 0;
}
#expenses-component .bottom-box {
  background: hsl(33, 100%, 98%);
}
#expenses-component .bottom-box .top {
  position: absolute;
  font-weight: 700;
  font-size: clamp(1rem, 7vw, 2.5rem);
}
#expenses-component .bottom-box p, #expenses-component .bottom-box h2 {
  font-size: 14px;
  color: hsl(28, 10%, 53%);
}
#expenses-component .bottom-box #bar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 275px;
  gap: 2ch;
}
@media screen and (max-width: 610px) {
  #expenses-component .bottom-box #bar-container {
    gap: 1ch;
  }
}
#expenses-component .bottom-box #bar-container .dayWrapper {
  min-width: 27px;
  justify-items: center;
  display: grid;
  height: 100%;
  align-items: end;
  grid-template-rows: auto min-content;
  font-size: 14px;
  color: hsl(28, 10%, 53%);
}
#expenses-component .bottom-box #bar-container .dayWrapper .bar {
  background: hsl(10, 79%, 65%);
  width: 100%;
  position: relative;
  max-width: 48px;
  border-radius: 0.3rem;
  transition: opacity 0.3s !important;
}
#expenses-component .bottom-box #bar-container .dayWrapper .bar:hover {
  transition: opacity 0.3s !important;
  cursor: pointer;
  opacity: 75%;
}
#expenses-component .bottom-box #bar-container .dayWrapper .bar:hover .tooltiptext {
  visibility: visible !important;
  opacity: 1 !important;
}
#expenses-component .bottom-box #bar-container .dayWrapper .bar .tooltiptext {
  visibility: hidden;
  background-color: hsl(25, 47%, 15%);
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 0.4rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
#expenses-component .bottom-box #bar-container .dayWrapper.highest-day .bar {
  background: hsl(186, 34%, 60%);
}
#expenses-component .bottom-box #bottomest-row {
  color: hsl(25, 47%, 15%);
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  border-top: 1px solid hsl(28, 10%, 53%);
  margin-top: 1.5rem;
  align-items: flex-end;
}
#expenses-component .bottom-box #bottomest-row #right {
  text-align: end;
}
#expenses-component .bottom-box #bottomest-row #right p {
  margin-bottom: 0.6ch;
}
#expenses-component .bottom-box #bottomest-row #right .percentage {
  font-weight: 700;
}

#attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
#attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */